<div class="wrapper">
  <div class="header">
    <nav class="header-nav">
      <ul class="nav-item">
        <% if admin_signed_in? %>
          <li><a href="">Item</a></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Sign up", new_customer_registration_path %></a></li>
          <li><a href="">Log in</a></li>
          <li><%= link_to "Log out", destroy_admin_session_path, method: :delete %></li>
        <% elsif customer_signed_in? %>
          <li><a href="">Item</a></li>
          <li><%= link_to "About", about_path %></li>
          <li><a href="">Sign up</a></li>
          <li><a href="">Log in</a></li>
        <% else %>
          <li><a href="">Item</a></li>
          <li><%= link_to "About", about_path %></li>
          <li><a href="">Sign up</a></li>
          <li><a href="">Log in</a></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>