<div class="form-wrapper">
  <h1>Sign up</h1>
<%= form_with model: @customer, url: registration_path(resource_name), local: true do |f| %>
  <form>
    <div class="form-item">
      <td><%= f.text_field :first_name, autofocus: true, :placeholder =>"姓" %></td>
    </div>
    <div class="form-item">
      <td><%= f.text_field :last_name, :placeholder =>"名" %></td>
    </div>
    <div class="form-item">
      <td><%= f.text_field :first_name_kana, :placeholder =>"姓フリガナ" %></td>
    </div>
    <div class="form-item">
      <td><%= f.text_field :last_name_kana, :placeholder =>"名フリガナ" %></td>
    </div>
    <div class="form-item">
      <td><%= f.email_field :email, :placeholder =>"メールアドレス",  autocomplete: "email" %></td>
    </div>
    <div class="form-item">
      <td><%= f.text_field :postal_code, :placeholder =>"郵便番号", class: "jpostal_code" %></td>
    </div>
    <div class="form-item">
      <td><%= f.text_field :address, :placeholder =>"住所", class: "jpostal_address" %></td>
    </div>
    <div class="form-item">
      <td><%= f.text_field :telephone_number, :placeholder =>"電話番号" %></td>
    </div>
    <div class="form-item">
      <td><%= f.password_field :password, :placeholder =>"パスワード(#{@minimum_password_length}文字以上)",  autocomplete: "new-password" %></td>
    </div>
    <div class="form-item">
      <td><%= f.password_field :password_confirmation,  :placeholder => "パスワード(確認用)", autocomplete: "new-password" %></td>
    </div>
    <div class="button-panel">
      <%= f.submit "Sign up", class: "button" %>
    </div>
  </form>
    <% end %>
</div>