<!DOCTYPE html>
<html>
  <head>
    <title>TheDonut</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <nav class="header-nav">
          <ul class="nav-item">
            <li><a href="">Item</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Sign up</a></li>
            <li><a href="">Log in</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
